[submodule "Act-Nut-lib"]
	path = Act-Nut-lib
	url = https://github.com/thpatch/Act-Nut-lib
[submodule "th145arc/MIRACL"]
	path = th145arc/MIRACL
	url = https://github.com/miracl/MIRACL
	ignore = dirty
[submodule "th135arc-alt/MIRACL"]
	path = th135arc-alt/MIRACL
	url = https://github.com/miracl/MIRACL
	ignore = dirty
